/* Import Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Define global variables */
:root {
    --bg-color: #ededf6;
    --body-text: #445876;
    --primary: #31343d;
    --alternate: #92cccd;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--body-text);
}

/* Header & nav styling */
header {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px 0;
}

header h1 {
    background-color: var(--alternate);
    color: var(--primary);
    font-size: 50px;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 10px;
}

nav {
    padding-left: 15px;
    padding-right: 10%;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

/* Don't want the link styling to change after link is followed/used */
nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: var(--alternate);
    text-decoration: none;
    border-bottom: 3px solid var(--alternate);
    padding: 5px;
}

/* Subtitle styling */
.subtitle {
    background-image: url(/assets/images/code.jpg);
    height: 200px;
    width: 100%;
    position: relative;
}

.subtitle h2 {
    position: absolute;
    background-color: var(--alternate);
    color: var(--primary);
    font-size: 30px;
    font-weight: 900;
    bottom: 15px;
    right: 10%;
    padding: 0 10px;
}

/* Container styling */
.container {
    display: flex;
    margin-top: 40px;
    flex: 0 0 100%;
}

.container h2 {
    font-size: 50px;
    font-weight: 900;
    flex: 0 0 200px;
    flex-wrap: wrap;
    text-align: right;
    border-right: 3px solid var(--body-text);
    margin-left: 2%;
    padding-right: 15px;
    line-height: 1;
}

/* About me styling */

.about-me {
    display: inline;
    width: 80%;
}

.about-me img {
    height: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    float: left;
    margin: 0 25px;
    border-radius: 25px;
    box-shadow: 7px 7px 5px var(--body-text);

}

.about-me p {
    margin: 0 25px;
    text-align: justify;
    color: var(--primary);
}

/* Work section sub-container styling */
.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 80%;
}

/* Styling for first project - needs to be larger */
/* look into pseudo elements for show/hide opacity background */
/* Should combine styling for all project cards and set up unique id syleing for first project differences */
.first-project {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 80%;
    border: 3px solid var(--alternate);
    margin: 0 auto;
    align-items:flex-start;
    justify-content: center;
    background-image: url(/assets/images/code.jpg);
}

.first-project h3 {
    color: var(--primary);
    background-color: var(--alternate);
    font-size: 30px;
    width: 175px;
    padding-left: 15px;
    text-align: justify;
}

.first-project p {
    color: var(--primary);
    background-color: var(--alternate);
    font-size: 15px;
    width: 175px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: justify;
}

.first-project:hover {
    opacity: 75%;
}

/* Styling for other projects sub section */
.other-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin-top: 20px;
    width: 85%;
}

/* Styling for normal project cards */
.project {
    display: flex;
    flex-direction: column;
    height: 150px;
    flex: 0 1 450px;
    border: 3px solid var(--alternate);
    margin-top: 20px;
    align-items:flex-start;
    justify-content: center;
    background-image: url(/assets/images/code.jpg);
}

.project h3 {
    color: var(--primary);
    background-color: var(--alternate);
    font-size: 30px;
    width: 175px;
    padding-left: 15px;
    text-align: justify;
}

.project p {
    color: var(--primary);
    background-color: var(--alternate);
    font-size: 15px;
    width: 175px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: justify;
}

.project:hover {
    opacity: 75%;
}

/* Styling for Contact section */
.contact {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    
}

.contact a {
    color: var(--primary);
    text-decoration: none;
    border-bottom: 3px solid var(--body-text);
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    padding: 2px;
    margin: 5px 20px;
    flex: 0 0 1em;
}

/* Resume Section Styling */
#resume p {
font-size: 30px;
font-weight: 900;
text-align: center;
color: var(--primary);
}

/* Media queries & styling for tablets*/
@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    header h1 {
        padding-right: 5%;
    }

    nav {
        padding-left: 10%;
    }

    nav a {
        margin: auto;
    }

    .subtitle {
        height: 100px;
        display: block;
    }
    
    .subtitle h2 {
        left: 10%;
        right: 10%;
        padding: 5px;
        text-align: center;
    }

   .container{
       flex-direction: column;
       align-content: center;
       justify-content: center;
   }

   .container h2 {
    text-align: center;
    border-right: none;
    height: 45px;
    margin-left: 0%;
    margin-bottom: 20px;
    flex: 0 0 100%;
    padding: 5px;
    border-bottom: none;
    border-top: 3px solid var(--body-text);
   }

   .about-me {
    width: 100%;
   }

   .sub-container {
    flex: 0 0 100%;
   }

   .contact {
       width: 100%;
   }

   .contact a {
    border-bottom: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    padding: 2px;
    margin: 5px 10px;
    flex: 0 0 1em;
}
}

/* Media queries & styling for phones*/
@media screen and (max-width: 500px) {
    .subtitle h2 {
        font-size: 15px;
        font-weight: 900;
        padding: 0 10px;
        left: 10%;
        right: 10%;
        padding: 5px;
        text-align: center;
    }

    .container h2 {
        border-right: none;
        border-bottom: none;
       }

    .about-me {
        display: block;
    }

    .about-me img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
        padding-left: 25px;
        padding-right: 25px;
    }

    .contact a {
        border-bottom: none;
        font-size: 15px;
        font-weight: 900;
        line-height: 15px;
        padding: 2px;
        margin: 5px 10px;
        flex: 0 0 1em;
    }
}
